@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/valentina.jpg"); /* Remplacez avec votre base64 */
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    /* Autres styles globaux */
  }
audio {
    width: 100%;
    background-color: transparent; /* Enlève le fond noir */
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
    color: inherit;
  }