/* login.module.css */
.body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.App {
  display: flex;
  flex-direction: column; /* Change to column layout */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100vw;
  height: 100vh; /* Fill the entire viewport height */
  background-color: rgba(133, 44, 207, 1);
}

.image-section {
  flex: 1;
  background: url('../public/group.png') center/cover;
  margin-top: 5%;
  margin-bottom: 5%;
}

.top-section {
  text-align: center;
  background-color: black;
}

.top-section h1{
  font-weight: 900;
  color: rgba(133, 44, 207, 1);
}



.login-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: black; /* Darker pink color on hover */
  height: 100%; /* Fill the entire height of the .App container */
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.heading {
  color: #fff; /* Change to white */
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: white;
  margin-bottom: 8px;
}

.input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons */
}

.button {
  padding: 12px;
  background-color: #ff69b4; /* Pink color */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.button:hover {
  background-color: #ff1493; /* Darker pink color on hover */
}
/* login.module.css */
