@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Base Styles */
.body {
  align-items: center;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-width: thin;
}

.App {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100vh;
  background-color: rgb(24, 24, 32);
}

/* Image Section */
.image-section {
  flex: 1;
  background: url('../public/group.png') center/cover;
  margin: 10px;
}

/* Top Section */
.top-section {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 32);
}

.top-section h1 {
  font-weight: 900;
  color: rgb(72, 191, 255);
}

/* Login Section */
.login-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color:rgb(24, 24, 32);
  height: auto;
}

/* Form Styles */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input,
.input2,
.select,
.textarea {
  width: 300px;
  height: 60px;
  border: 2px solid rgb(72, 191, 255);
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  position: relative;
  background-color: rgba(255, 0, 0, 0); /* Rouge avec une opacité de 0.5 */
}

.input::placeholder,
.input2::placeholder,
.select::placeholder {
  color: rgb(72, 191, 255);
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
  position: absolute;
  top: 8px;
  left: 8px;
  white-space: normal;
  text-align: justify;
}

/* Button Styles */
.button,
.button2 {
  width: 153px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Inter', serif;
  border: 0px;
}

.button {
  border: 0px;
  background: linear-gradient(-145deg, rgb(240, 45, 255), rgb(70, 184, 255));
  color: white;
  transition: background-color 0.3s;
}

.button2 {
  border: 2px solid rgb(72, 191, 255);
  background-color: rgba(255, 0, 0, 0); /* Rouge avec une opacité de 0.5 */
  color: white;
}

/* Forgot Password Section */
.forgot-password {
  text-align: center;
  background-color: #181820;
  padding: 5%;
}

.forgot-password a {
  text-decoration: none;
  color: rgb(72, 191, 255);
  cursor: pointer;
  text-transform: lowercase;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
}

/* Checkbox Styles */
.checkbox {
  position: absolute;
  opacity: 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  color: white;
  margin-left: 120px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(72, 191, 255);
}

input:checked + .slider::before {
  transform: translateX(16px);
}

.sliderText {
  position: absolute;
  display: inline-block;
  margin-right: 60px;
  line-height: 24px;
  color: rgb(72, 191, 255);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Profile Info Section */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: auto;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.twitter-handle {
  font-size: 12px;
  color: white;
}

/* Top Section 2 */
.top-section2 {
  text-align: center;
  background-color: rgb(24, 24, 32);
  color: black;
  font-weight: 900;
  height: 10vh;
}

.chatContainer {
  background-color: #181820;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pour aligner les bulles en bas du conteneur */
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto; /* Ajoutez ceci pour permettre le défilement vertical */
}

.chatHistory {
  overflow-y: auto; /* Ajoutez ceci pour permettre le défilement vertical */
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 16px;
}

.chatBubble {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pour aligner les bulles en bas du conteneur */
}

.chatInputContainer {
  display: flex;
  gap: 16px; /* Ajoutez une gouttière de 8 pixels entre les éléments enfants */
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  margin: auto;
}

.chatPhoto {
  height:auto;
  width:100%;
  border-radius: 8px;
}

.user {
  align-self: flex-end; /* Pour aligner la bulle à droite */
  width: auto;
  max-width: calc(50% - 16px); /* Half of the screen width */
  margin-left: 50%; /* Push to the right */
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  background-color: rgb(255, 255, 255); /* White background */
  border-radius: 8px;
  box-shadow: -8px 10px 23px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: -8px 10px 23px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: -8px 10px 23px 0px rgba(0,0,0,0.09);
}

.chatFirstname {
  margin:0px;
  padding-left: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  align-self: center;

}

/* Styles for assistant messages */
.assistant {
  align-self: flex-start; /* Pour aligner la bulle à gauche */
  color: white;
  width: calc(50% - 16px); /* Half of the screen width */
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  background: linear-gradient(-145deg, rgb(240, 45, 255), rgb(70, 184, 255));
  border-radius: 8px;
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.09);
}

.chatInput {
  width: 100%;
  flex-grow: 1;
  padding: 8px;
  color: black;
  border: 0px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  resize: none;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-shadow: 8px 10px 23px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: 8px 10px 23px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 8px 10px 23px 0px rgba(0,0,0,0.09);
}


.sendButton {
  margin-left: 8px; /* Ajoutez une marge de 8 pixels à gauche du bouton */
  background: linear-gradient(-145deg, rgb(240, 45, 255), rgb(70, 184, 255));
}

.chatAssistantInfo {
  color: white;
  display: flex;
  text-align: center;
  justify-content: left;
  padding-bottom: 8px;
}

.formContainer {
  display: flex;
  align-items: center;
  width:90vw;
}

.chatPP {
  height: 32px;
  width: auto;
  border-radius: 16px;
}

.sendButton {
  font-family: Montserrat;
  font-weight: 900;
  padding: 8px 16px;
  background-color: #9933ef;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 8px 10px 23px 0px rgba(0,0,0,0.09);
  -webkit-box-shadow: 8px 10px 23px 0px rgba(0,0,0,0.09);
  -moz-box-shadow: 8px 10px 23px 0px rgba(0,0,0,0.09);
  align-self: center;
}

.fileInputContainer {
  position: relative;
  text-align: center;
}

.fileLabel {
  width: 128px;
  height: 128px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgb(62, 165, 239);
  border-radius: 50%;
}

.fileLabel:hover {
  background-color: rgb(62, 165, 239);
}

.filePreview {
  background-color: #f0f0f0;
  border-radius: 50%;
  overflow: hidden;
}

.filePreview img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fileLabel span {
  margin-top: 5px;
}

.hidden {
  display: none;
}

.imagesContainer {
  display: flex;
  gap: 16px; /* Ajustez selon l'espacement souhaité */
}

.feed {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.userCard {
  position: relative;
  width: 180px;
  height: auto;
  border-radius: 8px;
  background: linear-gradient(to bottom, rgba(63, 169, 245, 1) 0%,rgba(63, 169, 245, 0) 100%);
  border: 0.5px solid rgba(63, 169, 245, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 26px 16px 26px 16px;
  flex-wrap: nowrap;
  text-align: center;
  color: white;
  margin-bottom: 48px;
}

.userCard img {
  width: 160px;
  height: 204px;
  object-fit: cover;
  border-radius: 8px;
}

.logo {
  width: 256px;
}
