@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Base Styles */
.body {
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100vh;
  background-color: rgba(133, 44, 207, 1);
}

/* Image Section */
.image-section {
  flex: 1;
  background: url('../public/group.png') center/cover;
  margin: 10px;
}

/* Top Section */
.top-section {
  text-align: center;
  background-color: black;
}

.top-section h1 {
  font-weight: 900;
  color: rgba(133, 44, 207, 1);
}

/* Login Section */
.login-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: black;
  height: auto;
}

/* Form Styles */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input,
.input2,
.select,
.textarea {
  width: 300px;
  height: 60px;
  border: 2px solid rgba(133, 44, 207, 1);
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  position: relative;
}

.input::placeholder,
.input2::placeholder,
.select::placeholder {
  color: rgba(133, 44, 207, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  left: 10px;
  white-space: normal;
  text-align: justify;
}

/* Button Styles */
.button,
.button2 {
  width: 153px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Inter', serif;
}

.button {
  border: black;
  background-color: black;
  color: rgba(133, 44, 207, 1);
  transition: background-color 0.3s;
}

.button2 {
  border: 2px solid rgba(133, 44, 207, 1);
  background-color: rgba(133, 44, 207, 1);
  color: white;
}

/* Forgot Password Section */
.forgot-password {
  text-align: center;
  background-color: black;
  padding: 5%;
}

.forgot-password a {
  text-decoration: none;
  color: rgba(133, 44, 207, 1);
  cursor: pointer;
  text-transform: lowercase;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
}

/* Checkbox Styles */
.checkbox {
  position: absolute;
  opacity: 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  color: white;
  margin-left: 120px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(133, 44, 207, 1);
}

input:checked + .slider::before {
  transform: translateX(16px);
}

.sliderText {
  position: absolute;
  display: inline-block;
  margin-right: 60px;
  line-height: 24px;
  color: rgba(133, 44, 207, 1);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Profile Info Section */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  height: auto;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.twitter-handle {
  font-size: 12px;
  color: white;
}

/* Top Section 2 */
.top-section2 {
  font-weight: 900;
  text-align: center;
  background-color: rgba(133, 44, 207, 1);
  line-height: 0.5;
  color: black;
  height: 10vh;
}

/* ... Your existing styles ... */

/* New class for the image and feed */
.image-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

/* Additional styling for individual profile cards in the feed */
.profile-card {
  text-align: center;
  color: white;
  border: 2px solid rgba(133, 44, 207, 1);
  border-radius: 6px;
  max-height: 500px;
  max-width: 200px;
  margin-top: 20px;
  padding: 20px;
}

/* Styling for the profile image in portrait mode */
.profile-image-portrait {
  width: 80%;
  height: auto;
  border-radius: 20%;
}

.profile-description {
  font-size: 8px;
  margin-bottom: 20px;
}

.profile-username {
  text-transform: uppercase;
  font-weight: 600;
}

/* Styling for the chat button */
.chat-button {
  background-color: rgba(133, 44, 207, 1); /* Green background color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}