@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Login and Register */
.body {
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Set a fixed height for the container, in this case, 100% of the viewport height */
  background-color: rgba(133, 44, 207, 1);
}

.image-section {
  flex: 1;
  background: url('../public/group.png') center/cover;
  margin: 10px;
}

.top-section {
  text-align: center;
  background-color: black;
}

.top-section h1 {
  font-weight: 900;
  color: rgba(133, 44, 207, 1);
}

.login-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: black;
  height: auto; /* Takes up the remaining space */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content horizontally within .box */
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 153px;
  height: 40px;
  border: 2px solid rgba(133, 44, 207, 1);
  border-radius: 6px;
  background-color: black;
  color: white;
}

.input::placeholder {
  text-align: center;
  color: rgba(133, 44, 207, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.button {
  width: 153px;
  height: 40px;
  border: black;
  border-radius: 6px;
  background-color: black;
  color: rgba(133, 44, 207, 1);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Inter', serif;
}

.button2 {
  width: 153px;
  height: 40px;
  border: 2px solid rgba(133, 44, 207, 1);
  border-radius: 6px;
  background-color: rgba(133, 44, 207, 1);
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Inter', serif;
}

.forgot-password {
  text-align: center;
  background-color: black;
  padding: 5%;
}

.forgot-password a {
  text-decoration: none;
  /* Remove underline */
  color: rgba(133, 44, 207, 1);
  cursor: pointer;
  text-transform: lowercase;
  font-style: normal;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  color: white;
  margin-left: 120px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(133, 44, 207, 1);
}

input:checked + .slider::before {
  transform: translateX(16px);
}

.sliderText {
  position: absolute;
  display: inline-block;
  margin-right: 60px;
  /* Adjust this value to position the text */
  line-height: 24px;
  /* Align text vertically with the slider */
  color: rgba(133, 44, 207, 1);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 20vh; /* 20% of the viewport height */
}

.profile-image {
  width: 150px;
  /* Adjust the width and height as needed for your round image */
  height: 150px;
  border-radius: 50%;
  /* This will make the image round */
  /* Adjust margin as needed */
  margin-top: 20px;
}

.twitter-handle {
  font-size: 12px;
  color: white;
  margin-bottom: 160px;
}

.top-section2 {
  text-align: center;
  background-color: rgba(133, 44, 207, 1);
  color: black;
  font-weight: 900;
  height: 10vh; /* 10% of the viewport height */
}

.input2 {
  width: 300px;
  height: 60px;
  border: 2px solid rgba(133, 44, 207, 1);
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 20px;
  /* Add padding to create space for the placeholder text */
  box-sizing: border-box;
  /* Include padding in the width and height calculations */
  position: relative;
}

.input2::placeholder {
  color: rgba(133, 44, 207, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  left: 10px;
  white-space: normal; /* Allow text to wrap */
  text-align: justify;
}

.select {
  width: 300px;
  height: 60px;
  border: 2px solid rgba(133, 44, 207, 1);
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 10px;
  /* Add padding to create space for the selected option text */
  box-sizing: border-box;
  /* Include padding in the width and height calculations */
  appearance: none;
  /* Remove default arrow icon in some browsers */
}

/* Style for the dropdown arrow */
.select::after {
  content: '\25BC';
  /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 20px;
  /* Adjust the right position as needed */
  transform: translateY(-50%);
  color: white;
}

.select::placeholder {
  color: red; /* Adjust the color as needed */
}